<template>
  <div class="frame">
    <div class="main">
      <div class="slide" >

        <input type="radio" name="sildeInput" value="0" id="sildeInput1" checked hidden />
        <label for="sildeInput1">1</label>

        <input type="radio" name="sildeInput" value="1" id="sildeInput2" hidden />
        <label for="sildeInput2">2</label>

        <input type="radio" name="sildeInput" value="1" id="sildeInput3" hidden />
        <label for="sildeInput3">3</label>

        <input type="radio" name="sildeInput" value="1" id="sildeInput4" hidden />
        <label for="sildeInput4">4</label>

        <ul>
          <li>one-点击切换</li>
          <li>two-点击切换</li>
          <li>three-点击切换</li>
          <li>four-点击切换</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  // import Carousel from '../commom/carousel'
  export default {

    name: "AppointDetail",
    components:{
      // Carousel
    },
    data(){
      return {
        // imgList:[
        //   'https://photo.tuchong.com/16822941/g/227791320.webp',
        //   'https://photo.tuchong.com/16822941/g/427152186.webp',
        //   'https://photo.tuchong.com/16822941/g/581424045.webp',
        //   'https://photo.tuchong.com/16822941/g/551408743.webp',
        // ]
      }
    }
  }
</script>

<style lang="scss" scoped>

  .frame {
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;

  .main {
    width: 1000px;
    background-color: #f8f8f8;
    min-height: 1000px;
    display: flex;


  .slide {
    position: relative;

    width: 100%;
    height: 600px;
    text-align: center;
    font-family: Arial;
    color: #FFF;
    overflow: hidden;

  ul {

    padding: 0;
    width: calc(1000px * 4);
    transition: all 0.5s;
  }

  li {
    float: left;
    width: 1000px;
    height: 600px;
    list-style: none;
    line-height: 300px;
    font-size: 36px;
  }

  li:nth-child(1) {
    background: #9fa8ef;
  }

  li:nth-child(2) {
    background: #ef9fb1;
  }

  li:nth-child(3) {
    background: #9fefc3;
  }

  li:nth-child(4) {
    background: #efc186;
  }

  input[name="sildeInput"] {
    display: none;
  }

  label[for^="sildeInput"] {
    position: absolute;
    top: 270px;

    width: 20px;
    height: 20px;
    margin: 0 10px;
    line-height: 20px;
    color: #FFF;
    background: rgba(171, 163, 171, 0.64);
    cursor: pointer;
    border-radius: 50%;
  }

  label[for="sildeInput1"] {
    left: 0;
  }

  label[for="sildeInput2"] {
    left: 30px;
  }

  label[for="sildeInput3"] {
    left: 60px;
  }

  label[for="sildeInput4"] {
    left: 90px;
  }

  #sildeInput1:checked~ul {
    margin-left: 0;
  }

  #sildeInput2:checked~ul {
    margin-left: -1000px;
  }

  #sildeInput3:checked~ul {
    margin-left: -2000px;
  }

  #sildeInput4:checked~ul {
    margin-left: -3000px;
  }

  #sildeInput1:checked~label[for="sildeInput1"] {
    color: #000;
    background: #fff;
  }

  #sildeInput2:checked~label[for="sildeInput2"] {
    color: #000;
    background: #fff;
  }

  #sildeInput3:checked~label[for="sildeInput3"] {
    color: #000;
    background: #fff;
  }
  #sildeInput4:checked~label[for="sildeInput4"] {
    color: #000;
    background: #fff;
  }
  }


  }
  }

</style>